#body {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
  background-color: rgba(192,215,167,70%);
}

#searchForm {
  border: 2px solid black;
  padding: 10px;
}

label {
  font-weight: bold;
}

#parkDIV {
  padding: 10px;
}

#restaurantDIV {
  padding: 10px;
}

#eventsDIV {
  padding: 10px;
}

#concertsDIV {
  padding:10px;
}

#resultsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 50%;
  justify-content: center;
}

.resultsGroup {
  height: 100px;
  width: 450px;
  overflow-y: scroll;
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  flex-grow: inherit;
}

.itinerarySectionName {
  font-weight: bold;
  font-size: 23px;
}

#itineraryContainer {
  height: 450px;
  width: 500px;
  border: 1px solid black;
  border-radius: 5px;
  align-self: center;
  justify-content: space-between;

}

.itinObj {
  margin: 5px;
  padding: 5px;
}

 img {
  width: 40%;
  border-radius: 60%;
  height: auto;

 }