#searchForm {
  border: 2px solid black;
  padding: 10px;
}

#parkDIV {
  padding: 10px;
}

#restaurantDIV {
  padding: 10px;
}

#eventsDIV {
  padding: 10px;
}

#concertsDIV {
  padding:10px;
}

#resultsContainer {
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap;
  flex-basis: 25%;
}

.resultsGroup {
  height: 100px;
  width: 400px;
  overflow-y: scroll;
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}

.itinerarySectionName {
  font-weight: bold;
}

#itineraryContainer {
  height: 200px;
  width: 500px;
  border: 1px solid black;
  border-radius: 5px;
}

/* img {
  width: 100%;
  height: auto;
  align-content: center;
 } */